@{
    Layout = null;
}

<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form by Colorlib</title>

        <!-- Font Icon -->
        <link rel="stylesheet" href="~/booking/fonts/material-icon/css/material-design-iconic-font.min.css">

        <!-- Main css -->
        <link rel="stylesheet" href="~/booking/css/style.css">
        <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/vendor/aos/aos.css" rel="stylesheet">
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">  
        <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>
        </div>

    </header><!-- End Header -->
    <main class="main">

        <div class="container" style="background:none">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="~/booking/images/form-img.jpg" alt="Booking Image" >
                </div>
                <div class="booking-form" style="padding:40px" >
                    <form id="booking-form">
                        <h2>Booking place for your dinner!</h2>
                        <div class="form-group form-input">
                            <input type="text" name="name" id="name" value="" required>
                            <label for="name" class="form-label">Your name</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="number" name="phone" id="phone" value="" required>
                            <label for="phone" class="form-label">Your phone number</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="number" name="Time" required>
                            <label  class="form-label">Hours</label>
                        </div>
                        <center>
                            <div class="form-submit" style="margin-top:40px">
                                <input type="submit" value="Go to Food Menu" class="submit" asp-action="Menu" name="submit">
                            </div>
                        </center>
                       
                            
                        <div class="form-radio">
                            <label class="label-radio"> Select Your Dining Space</label>
                            <div class="radio-item-list">
                                <span class="radio-item">
                                    <input type="radio" name="number_people" value="2" id="number_people_2">
                                    <label for="number_people_2">2</label>
                                </span>
                                <span class="radio-item active">
                                    <input type="radio" name="number_people" value="4" id="number_people_4" checked="checked">
                                    <label for="number_people_4">4</label>
                                </span>
                                <span class="radio-item">
                                    <input type="radio" name="number_people" value="6" id="number_people_6">
                                    <label for="number_people_6">6</label>
                                </span>
                                <span class="radio-item">
                                    <input type="radio" name="number_people" value="8" id="number_people_8">
                                    <label for="number_people_8">8</label>
                                </span>
                                <span class="radio-item">
                                    <input type="radio" name="number_people" value="10" id="number_people_10">
                                    <label for="number_people_10">10</label>
                                </span>
                            </div>
                        </div>

                        <div class="form-submit">
                            <input type="submit" value="Book now" class="submit" id="submit" name="submit">
                            <a href="#" class="vertify-booking">Verify your booking info from your phone</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</body>
    
</html>